* {
  box-sizing: border-box;
}

*>a:link{color: rgb(76, 149, 245);}

body{ 
	background: whitesmoke;
	padding: 0px 2px 0px 6px;
	overflow-x: hidden;
}

.row::after {
	content: "";
	clear: both;
	display: table;
  }
  
  [class*="col-"] {
	float: left;
	padding: 15px;
  }
  
  /* For mobile phones: */
  [class*="col-"] {
	width: 100%;
	}
  
@media only screen and (min-width: 604px) {
	/* For tablets, small laptops: */
	.col-s-1 {width: 8.33%;}
	.col-s-2 {width: 16.66%;}
	.col-s-3 {width: 25%;}
	.col-s-4 {width: 33.33%;}
	.col-s-5 {width: 41.66%;}
	.col-s-6 {width: 50%;}
	.col-s-7 {width: 58.33%;}
	.col-s-8 {width: 66.66%;}
	.col-s-9 {width: 75%;}
	.col-s-10 {width: 83.33%;}
	.col-s-11 {width: 91.66%;}
	.col-s-12 {width: 100%;}
}
  
 @media only screen and (min-width: 967px) {
	/* For desktop: */
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
}
  
  
header{
	height: 135px;
	width: 100%;
	top: 0px;
	background-color: #69d2f9;
	z-index: 1;
	padding:  2px;
  }
  
  .grid-header{
	  display: grid;
	  grid-template-columns: 35% auto 26%;
  }
  
  .logo{
	  background-image: url('../materials/header1.png');
	  background-repeat: no-repeat;
	  height: 100%;
  }
  
  .name{
	  margin: 0px 0px;
  }
  
  .name p{
	  font-family: Helvetica;
	  font-weight: bolder;
	  font-size: 32px;
	  left: 25px;
	  text-decoration: solid;
	  margin: 50px 4px 4px -15px;
	  letter-spacing: 2px;
  }
  
  .cub{
	  background: url('../materials/header2.png');
	  background-repeat: no-repeat;
	  height: 100%;
  }
  
  #welcome{
	  background-color: #f2f2f2;
	  padding: 2px 0px;
	  margin: 2px 0px;
	  height: 10px;
	  width: 100%;
	  font-family: Trebuchet MS, Geneva;
	  font-size: 18px;
	  text-align: center;
	  color: #196666;
	  font-weight: bold;
  }
  
  .container{
	  min-height: 600px;
	  min-width: 99.99%;
	  margin: 3px 1px;
	  padding: 10px 4px 1px 0px;
  }
  
  .navbar{
	  padding: 1px 5px;
  }
  
  .container-fluid{
	  top: 1px;
	  width: 99.99%;
	  padding: 5px;
	  float: left;
	  font-size: 15px;
	  border-radius: 18px;
  }

.navbar-nav{
	height: 42px;
	padding: 3px;
	margin-right: -50px;
}
  
.navbar-nav li {
	display: block;
	float: left;
	margin-top: 0px;
	padding: 0px;
	position: relative;
	top: -6px;
	text-decoration: none;
	transition-duration: 0.4s;
  }

.navbar-nav li:hover {
	cursor: pointer;
}
  
.navbar-nav li .dropdown {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	transition: all 0.3s ease;
	margin-top: 1px;
	left: 0;
	display: none;
}
  
.navbar-nav li:hover > .dropdown,
  .navbar-nav li .dropdown:hover {
	visibility: visible;
	opacity: 1;
	display: block;
	z-index: 1;
  }
  
  .navbar-nav li .dropdown li {
	background: rgb(213, 216, 213);
	font-weight: bold;
	clear: both;
	width: 120%;
  }

  .search{
		padding: 6px 50px 1px 5px;
		display: flex;
		float: right;
  }
#searchbox{
	background-color: #ffffcc;
	width: 60%;
	height: 34px;
	border-radius: 12px;
	-webkit-transition: width 0.15s ease-in-out; 
	transition: width 0.15s ease-in-out; 
	margin: 0px;
 } 

 /* When the input field gets focus, 
	  change its width to 100% */
#searchbox:focus{
	width: 99.9%;
} 

.searchbutton{
	margin: 4px 1px 1px -35px;
	width: 28px;
	height: 25px;
	border-left: 2px solid black;
	border-radius: 1px;
	padding-left: 4px;
	background: #4D94FF;
}


.pageWelcome{
  margin: 1px;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.first_row{
	padding: 4px 15px;
}

.rightSide{
	padding: 6px 4px;
	font-size: 15px;
}

.leftSide{
	padding: 2px 25px 5px 2px;
	font-size: 17px;
	text-align: justify;
	border: none;
}

.nav-pills li{
	background: white;
	padding: 0px;
	margin: -5px 2px;
}

.main{
	top: 2px;
	margin-left: 2px;
	padding: 3px;
	max-width: 99%;
	text-align: left;
	font-family: 'Times New Roman', Times, serif;
	font-size:14px ;
	font-weight: 525;
}

.content {
  max-width: 99%;
  text-align: center;
  border: 2px solid black;

}

.indicator {
  background-color: #85d9fa;;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

#title{
	text-align: left;
	color: #3761eb;
	font-family: Comic Sans MS;
}

.game-container{
		width: 98%;
		height: 80%;
}

.search{
	height: 35px;
	font-size: 16px;
	text-align: center;
}

#searchbar{
	background-color: #ffffcc;
	width: 95%;
	border: 1px solid;
	border-radius: 5px;
	margin-bottom: 6px;
}

.search .btn-primary{	
	border: 1px solid #ac7339;
	padding: 2px;
	border-radius: 13px;
}

.indicator .score-box {
  border: 1px solid black;
  flex-grow: 1;
}

.content .btn{
  display: inline-block;
  text-align: center;
  margin: 2px;
}

.indicator .left-box {
  flex-grow: 1;
	border: 1px solid black;

}

#timeLeft{
	width: 120px;
}

.score-box p {
	font-size: 24px;
	text-align: center;
}

.left-box p {
	font-size: 18px;
	text-align: center;
}


.playarea {
	width: 90%;
  background: rgb(234, 236, 226);
}

.playarea .row{
	width: 99%;
	margin-left: 5px;
	display: flex;
}


.box {
	width: 200px;
	height: 170px;
	padding: 6px;
	float: left;
	position: relative;
	overflow: hidden;
}

.mole-pic {
	width: 80px;
	position: absolute;
	left: 50px;
	bottom: -78px;
	transition: bottom 0.5s ease;
}

.mole-pic.up {
	bottom: 0;
}

.mole-pic.bonked {
	-webkit-animation-name: shake;
  animation-name: shake;
	-webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.dirt-pic {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 9999;
}

.mask {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 30px;
	width: 100%;
	background-color: white;
	z-index: 5000;
}

.game_credit{
  text-align: center;
}

#footmarg{
	width: 100%;
	min-height: 120px;
  background-color: black;
	display: flex;
	flex-wrap: wrap;
	margin-top: 1px;
	padding: 1px 1px;
	color: white;
	font-size: 12px;
	line-height: 7px;
	 border: 2px solid green;
 }

#footlinks{
  width: 100%;
  padding: 1px;
  margin-top: 2px;
  text-align: center;
  background-color: black;
	color: white;
	font-size: 12px;
}